@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 5rem auto;
  text-align: center;
  width: 75%;
}

h1 {
  margin-bottom: 2rem;
}

ul {
  margin-top: 2rem;
  list-style: none;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
